<div class="nav-menu container-fluid">
  <div class="row">
    <div class="col-sm nav-menu-button-container">
      <nav-menu-button text="Home"></nav-menu-button>
    </div>
    <div class="col-sm nav-menu-button-container">
      <nav-menu-button text="About"></nav-menu-button>
    </div>
    <div class="col-sm nav-menu-button-container">
      <nav-menu-button text="Corporate Wellness"></nav-menu-button>
    </div>
    <div class="col-sm nav-menu-button-container">
      <nav-menu-button text="Schedule"></nav-menu-button>
    </div>
  </div>
  </div>
